<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update A Coupon</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="topnav">
        <a href="/admin/user">Home Users</a>
        <a href="/admin/user/create">Create User</a>
        <a href="/admin/product/create">Home Products</a>
        <a href="/admin/product/create">Create Product</a>
        <a href="/admin/coupon">Home Coupons</a>
        <a href="/admin/coupon/create">Create Coupon</a>
        <a href="/admin/order">Home Orders</a>
        <a href="/admin/payment">Home Payments</a>
        <a href="/admin/logout">Logout</a>
    </div>
    <div class="form-add-new">
        <form action="/admin/coupon/update-coupon" method="post">
            <fieldset>
                <legend>Update Coupons:</legend>

                <div class="input-group d-none">
                    <label>
                        ID:
                    </label>
                    <input 
                    type="text" 
                    name="couponId" 
                    value="<%= couponEdit.id %>"
                    />
                </div>

                <div class="input-group">
                    <label>
                        Name:
                    </label>
                    <input 
                    type="text" 
                    name="name" 
                    value="<%= couponEdit.name %>"
                    />
                </div>
                <div class="input-group">
                    <label>
                        Method Discount:
                    </label>
                    <input 
                    type="text" 
                    name="methodDiscount" 
                    value="<%= couponEdit.methodDiscount %>"
                    />
                </div>
                <div class="input-group">
                    <label>
                        Description:
                    </label>
                    <input 
                    type="text" 
                    name="description" 
                    value="<%= couponEdit.description %>"
                    />
                </div>
                <div class="input-group">
                    <label>
                        Date Start:
                    </label>
                    <input 
                    type="text" 
                    name="dateStart" 
                    value="<%= couponEdit.dateStart %>"
                    />
                </div>
                <div class="input-group">
                    <label>
                        Date End:
                    </label>
                    <input 
                    type="text" 
                    name="dateEnd" 
                    value="<%= couponEdit.dateEnd %>"
                    />
                </div>
                <div class="input-group">
                    <label>
                        Value:
                    </label>
                    <input 
                    type="text" 
                    name="value" 
                    value="<%= couponEdit.value %>"
                    />
                </div>
                <div class="input-group">
                    <label>
                        Image:
                    </label>
                    <input 
                    type="text" 
                    name="image" 
                    value="<%= couponEdit.image %>"
                    />
                </div>
                <div>
                    <button onclick="alert('Update coupon successfully')"> Save </button>
                </div>
            </fieldset>
        </form>
    </div>
</body>

</html>