<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Items</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<style>
    .title {
        font-size: 25px;
        font-weight: 600;
        padding-bottom: 10px;
    }
    .list{
        font-size: 20px;
    }
    .table-container {
        padding: 15px 20px;
    }

    .margin{
        margin-left: 20px;
        font-size: 20px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    tr:hover {
        background-color: rgb(180, 178, 178);
    }
</style>
<body>
    <div class="topnav">
        <a href="/admin/user">Home Users</a>
        <a href="/admin/user/create">Create User</a>
        <a href="/admin/product">Home Products</a>
        <a href="/admin/product/create">Create Product</a>
        <a href="/admin/coupon">Home Coupons</a>
        <a href="/admin/coupon/create">Create Coupon</a>
        <a href="/admin/order">Home Orders</a>
        <a href="/admin/logout">Logout</a>
    </div>
    <div class="table-container">
        <div class="title">Thông tin người dùng </div>
        <div class = "list"><strong>Tên: </strong><%= order.name %></div>
        <div class = "list"><strong>Email: </strong><%= order.email %></div>
        <div class = "list"><strong>Số điện thoại: </strong><%= order.phone %></div>
        <div class = "list"><strong>Địa chỉ: </strong><%= order.addressUser %></div>
        <% if(order.shippingMethod === 'nhan tai cua hang'){%>
            <div class = "list"><strong>Phương thức nhận hàng: </strong>Nhận tại cửa hàng</div>
        <%}%>
        <%if(order.shippingMethod === 'giao hang tan noi'){%>
            <div class = "list"><strong>Phương thức nhận hàng: </strong>Giao hàng tận nơi</div>
        <%}%>
        <% if(order.shippingMethod === 'nhan tai cua hang'){%>
            <div class = "list"><strong>Thông tin nhận hàng: </strong> </div>
            <div class="margin"><strong>- Tên: </strong> <%= order.shopAddress.fullName %></div>
            <div class="margin"><strong>- Điện thoại: </strong> <%= order.shopAddress.phone %></div>
            <div class="margin"><strong>- Địa chỉ Shop: </strong> <%= order.shopAddress.addressShop %> , <%= order.shopAddress.cityShop %></div>
        <%}%>
        <%if(order.shippingMethod === 'giao hang tan noi'){%>
            <div class = "list"><strong>Thông tin nhận hàng: </strong> </div>
            <div class="margin"><strong>- Tên: </strong> <%= order.shippingAddress.fullName %></div>
            <div class="margin"><strong>- Điện thoại: </strong> <%= order.shippingAddress.phone %></div>
            <div class="margin"><strong>- Địa chỉ giao hàng: </strong> <%= order.shippingAddress.addressShipping %> , <%= order.shopAddress.cityShipping %></div>
        <%}%>
        <div class = "list"><strong>Tổng tiền order: </strong><%= order.totalPrice %></div>
        <div class = "list"><strong>Danh sách order: </strong></div>
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>New Price</th>
                        <th>Old Price</th>
                    </tr>
        
                    <!-- loop for each  -->
                    <% var orderItems = order.orderItems %>
                    <% orderItems.forEach(function(item){ %>
                        <tr>
                            <td>
                                <%= item._id %>
                            </td>
                            <td>
                                <%= item.name %>
                            </td>
                            <td>
                                <%= item.amount %>
                            </td>
                            <td>
                                <%= item.new_price %>
                            </td>
                            <td>
                                <%= item.old_price %>
                            </td>
                        </tr>
                        <% }) %>
        
        </table>
    </div>
</body>

</html>