<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rating A Product</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<style>
    .title {
        font-size: 25px;
        font-weight: 600;
        padding-bottom: 10px;
    }

    .table-container {
        padding: 15px 20px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    tr:hover {
        background-color: rgb(180, 178, 178);
    }
</style>
<body>
    <div class="topnav">
        <a href="/admin/user">Home Users</a>
        <a href="/admin/user/create">Create User</a>
        <a href="/admin/product">Home Products</a>
        <a href="/admin/product/create">Create Product</a>
        <a href="/admin/coupon">Home Coupons</a>
        <a href="/admin/coupon/create">Create Coupon</a>
        <a href="/admin/logout">Logout</a>
    </div>
    <div class="table-container">
        <div class="title">List Rating </div>
                <table>
                    <tr>
                        <th>ID</th>
                        <th>name</th>
                        <th>content</th>
                        <th>rate</th>
                        <th>time_create</th>
                    </tr>
        
                    <!-- loop for each  -->
                    <% var listComment = product.comments %>
                    <% listComment.forEach(function(comment){ %>
                        <tr>
                            <td>
                                <%= comment._id %>
                            </td>
                            <td>
                                <%= comment.name %>
                            </td>
                            <td>
                                <%= comment.content %>
                            </td>
                            <td>
                                <%= comment.rate %>
                            </td>
                            <td>
                                <%= comment.time_create %>
                            </td>
                        </tr>
                        <% }) %>
        
        </table>
    </div>
</body>

</html>