<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page Order</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<style>
    .title {
        font-size: 25px;
        font-weight: 600;
        padding-bottom: 10px;
    }

    .table-container {
        padding: 15px 20px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    tr:hover {
        background-color: rgb(180, 178, 178);
    }
</style>

<body>
    <div class="topnav">
        <a href="/admin/user">Home Users</a>
        <a href="/admin/user/create">Create User</a>
        <a href="/admin/product">Home Products</a>
        <a href="/admin/product/create">Create Product</a>
        <a href="/admin/coupon">Home Coupons</a>
        <a href="/admin/coupon/create">Create Coupon</a>
        <a class="active" href="/admin/order">Home Orders</a>
        <a href="/admin/logout">Logout</a>
        
    </div>
    <div class="table-container" id="ListContainer" style="display: none;">
        <div class="title">List Orders</div>
        <table>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Shipping Method</th>
                <th>Total Price</th>
                <th>Action</th>
            </tr>

            <!-- loop for each  -->
            <% listOrders.forEach(function(order){ %>
                <tr>
                    <td>
                        <%= order._id %>
                    </td>
                    <td>
                        <%= order.email %>
                    </td>
                    <td>
                        <%= order.name %>
                    </td>
                    <td>
                        <%= order.phone %>
                    </td>
                    <td>
                        <%= order.addressUser %>
                    </td>
                    <td>
                        <%= order.shippingMethod %>
                    </td>
                    <td>
                        <%= order.totalPrice %>
                    </td>
                    <td>
                        <form action="/admin/order/details-item/<%= order._id %>" method="get">
                            <button type="submit">Order Items</button>
                        </form>
                        <form action="/admin/order/details-address/<%= order._id %>" method="get">
                            <button type="submit">Address Receive </button>
                        </form>
                    </td>
                </tr>
            <% }) %>

        </table>
    </div>
    <script>
        const access_token = localStorage.getItem('access_token');
        fetch('/admin/auth', {
            method: 'POST',
            headers: {
                'token': access_token,
                'Content-Type': 'application/json'
            },
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);
            if (data.message === 'Unauthorized') {
                alert('You are not authorized to access this page');
                window.location.href = '/admin';
            } else {
                document.getElementById('ListContainer').style.display = 'block';
            }
        })
        .catch(error => console.error('Error:', error));
    </script>
</body>

</html>
