<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rating A Product</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<style>
    .title {
        font-size: 25px;
        font-weight: 600;
        padding-bottom: 10px;
    }

    .table-container {
        padding: 15px 20px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    tr:hover {
        background-color: rgb(180, 178, 178);
    }
</style>
<body>
    <div class="topnav">
        <a href="/admin/user">Home Users</a>
        <a href="/admin/user/create">Create User</a>
        <a href="/admin/product">Home Products</a>
        <a href="/admin/product/create">Create Product</a>
        <a href="/admin/coupon">Home Coupons</a>
        <a href="/admin/coupon/create">Create Coupon</a>
        <a href="/admin/order">Home Orders</a>
        <a href="/admin/payment">Home Payments</a>
        <a href="/admin/logout">Logout</a>
    </div>
    <div class="table-container">
        <div class="title">List Order </div>
        <div><strong><%= nameUser %></strong></div>
        <div><strong>Số lượng:</strong>
            <%= count %>
        </div>
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Address User</th>
                        <th>Note User</th>
                        <th>Order Quantity</th>
                        <th>Shipping Method</th>
                        <th>Total Price</th>
                        <th>Action</th>
                    </tr>
        
                    <!-- loop for each  -->
                    <% listOrders.forEach(function(order){ %>
                        <tr>
                            <td>
                                <%= order._id %>
                            </td>
                            <td>
                                <%= order.name %>
                            </td>
                            <td>
                                <%= order.email %>
                            </td>
                            <td>
                                <%= order.phone %>
                            </td>
                            <td>
                                <%= order.addressUser %>
                            </td>
                            <td>
                                <%= order.noteUser %>
                            </td>
                            <td>
                                <%= order.orderItems.length %>
                            </td>
                            <td>
                                <%= order.shippingMethod %>
                            </td>
                            <td>
                                <%= order.totalPrice %>
                            </td>
                            <td>
                                <form action="/admin/order/details/<%= order._id %>" method="get">
                                    <button type="submit">Order Details</button>
                                </form>
                            </td>
                        </tr>
                        <% }) %>
        
        </table>
    </div>
</body>

</html>